// Fontes
$grot: 'Roboto', 'Segoe UI', 'Helvetica', Arial, sans-serif;

// Cores
$verde: #008375;
$verde-escuro: #005249;
$verde-claro: #5CD6C9;
$bege: #FFDAAD;
$azul-bebe: #A3DFF5;
$cinza: #777;
$vermelho: #EB5757;
$laranja: #FFAE4D;
$preto: #000;
$branco: #FFF;
